@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #23252C;
    font-family: 'Inter', sans-serif;
}

.content {
    margin: 5% 40%;
    width: 320px;
    height: 760px;
    border-radius: 10px;
    background-color: #1A1B21;
    position: fixed;
}

.header {
    position: relative;
    width: 320px;
    height: 460px;
    border-radius: 10px 10px 0 0;
    color: #FFFFFF
}

.header-image-keeper {
    width: 320px;
    height: 320px;
    border-radius: 10px 10px 0 0;
}

.header-image {
    width: 320px;
    height: 320px;
    border-radius: 10px 10px 0 0;
}

.header-info {
    height: 160px;
    width: 320px;
    text-align: center;
    justify-content: space-around;
}

.header-info h1 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 0;
}

.header-info p{
    margin-top: 2px;
    font-weight: 400;
    color: #F5F5F5;
}

.header-buttons-keeper {
    text-align: center;
}

.header-button {
    text-decoration: none;
    padding: 8px;
}

.header-button > button {
    width: 115px;
    height: 34px;
    color: #1A1B21;
    font-weight: 500;
    padding: 0;
    border-radius: 5px;
    border: solid #F5F5F5;
}

.header-buttons-keeper > .header-button:last-child  button{
    background-color: #5093E2;
    border: solid #5093E2;
    color: #F5F5F5;
}

.header-icon {
    margin-right: 4px;
}

.info {
    height: 250px;
    width: 320px;
    position: relative;
    margin: 5px 35px;
}

.info-section {
    margin-bottom: 5px;
    width: 250px;
}

.info-section h3 {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
}

.info-section span {
    color: #F5F5F5;
    font-weight: 400;
    font-size: 10px;
}

.footer {
    height: 60px;
    width: 320px;
    border-radius: 0 0 10px 10px;
    background-color: #161619;
    position: absolute;
    text-align: center;
}

.footer-links {
    margin-top: 20px;
    text-align: center;
}

.footer-links > a {
    color: #918E9B;
    font-size: 20px;
}

.footer-links > a:not(:last-child) {
    margin-right: 15px;
}

.main-text-due-light-mode {
    color: #2B283A;
}

.text-due-light-mode {
    color: #4A4E74;
}

/*!* night mode *!*/
.night-mode {
    position: absolute;
    height: 30px;
    width: 60px;
    margin: 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    background-color: #161619;
    border-radius: 50px;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";

    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;

    background-color: #918E9B;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    transition: 0.4s;
}


input:checked + .slider:before {
    transform: translateX(30px);
}
